/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

@keyframes slideDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slidePrix {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-20%);
  }
}
* body {
  max-width: 425px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  animation: apparition 0.8s ease-out;
  transition-duration: 2s;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  padding-top: 15px;
  margin: auto;
}

h2 {
  text-align: left;
  margin-left: 12px;
  font-size: 20px;
  font-family: "Shrikhand", cursive;
}

h3 {
  margin-bottom: 15px;
  font-weight: 300;
  text-align: left;
  border-bottom: solid 2px #99d2f0;
  width: 15%;
}

header {
  width: 100%;
  margin: auto;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav a {
  position: relative;
  left: 5%;
  top: 20px;
  text-decoration: none;
  color: black;
  padding-top: 5px;
  font-weight: bold;
  font-size: large;
}
header #imgLogo {
  width: 200px;
  position: relative;
  left: 20%;
}
header #headerContent img {
  height: 40px;
}
header #headerContent i {
  padding-top: 10px;
  padding-right: 90px;
  font-size: 20px;
}

#photoPlat {
  position: relative;
  top: 20px;
  z-index: -1;
}

section {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  padding-bottom: 25%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
section #titleSection {
  display: flex;
  justify-content: space-between;
}
section #titleSection #logoTitle .vide {
  cursor: pointer;
}
section #titleSection #logoTitle .remplis {
  opacity: 0;
  position: relative;
  right: 50%;
}
section #titleSection #logoTitle .remplis:hover {
  opacity: 1;
  color: #9356dc;
}
section article {
  padding: 30px;
}
section article #anime1 {
  animation: slideDown 500ms forwards;
}
section article #anime2 {
  animation: slideDown 700ms forwards;
  animation-delay: 700ms;
}
section article #anime3 {
  animation: slideDown 900ms forwards;
  animation-delay: 900ms;
}
section article #anime4 {
  animation: slideDown 1100ms forwards;
  animation-delay: 1100ms;
}
section article #anime5 {
  animation: slideDown 1300ms forwards;
  animation-delay: 1300ms;
}
section article #anime6 {
  animation: slideDown 1500ms forwards;
  animation-delay: 1500ms;
}
section article #anime7 {
  animation: slideDown 1700ms forwards;
  animation-delay: 1700ms;
}
section article #anime8 {
  animation: slideDown 1900ms forwards;
  animation-delay: 1900ms;
}
section article #anime9 {
  animation: slideDown 2100ms forwards;
  animation-delay: 2100ms;
}
section article #anime10 {
  animation: slideDown 2300ms forwards;
  animation-delay: 2300ms;
}
section article #anime11 {
  animation: slideDown 2500ms forwards;
  animation-delay: 2500ms;
}
section article .assiete {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  box-shadow: 2px 2px 2px 2px grey;
  margin-bottom: 20px;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  /*DEBUT ANIMATION*/
}
section article .assiete:hover {
  /*-------------FIN ANIMATION*-------------*/
}
section article .assiete:hover .iconSlide {
  transition-duration: 400ms;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #99e2d0;
  text-align: center;
  width: 20%;
}
section article .assiete:hover .iconSlide .fa-check-circle {
  visibility: visible;
  transform: rotate(360deg);
  transition-duration: 400ms;
  font-size: 25px;
}
section article .assiete:hover .prix {
  transition-duration: 400ms;
  width: 20%;
  margin-right: 12px;
}
section article .assiete:hover .overflow {
  width: 60%;
}
section article .assiete .overflow {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
}
section article .assiete .overflow .bold {
  font-size: 16px;
}
section article .assiete .prix {
  font-weight: bolder;
  width: 10%;
  text-align: right;
  font-size: 16px;
  position: relative;
  top: 10px;
  right: 10px;
  margin: auto;
}
section article .assiete .iconSlide {
  width: 0%;
}
section article .assiete .iconSlide .fa-check-circle {
  visibility: hidden;
  padding: 15px;
  color: white;
}
section article .assiete .bold {
  font-weight: bolder;
}
section a {
  text-decoration: none;
  color: white;
}
section #button {
  background: linear-gradient(to top left, #9345dc, #ff79da);
  border-radius: 25px;
  color: white;
  font-size: 16px;
  border: 1px solid #9345dc;
  padding: 13px 50px 13px 50px;
  transition: transform;
  font-weight: 400;
}
section #button:hover {
  transition: 400ms;
  background: #bc95e9;
  box-shadow: 0 30px 30px #ababab;
}

footer {
  background-color: #363231;
  color: whitesmoke;
  padding: 25px;
}
footer ul img {
  width: 140px;
  height: 30px;
  background-color: #363231;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li .footerContent {
  padding-left: 5px;
}
footer ul a {
  text-decoration: none;
  color: white;
}
footer ul a:hover {
  text-decoration: underline;
}

@media screen and (min-width:426px) and (max-width:1024px) {
  body {
    min-width: 100%;
  }

  h1 {
    padding: initial;
    font-size: 50px;
  }

  section h2 {
    text-align: center;
  }
  section #mainSection {
    justify-content: space-between;
  }
  section #mainSection article {
    width: 60%;
    margin: auto;
  }
  section #mainSection article h3 {
    padding-left: 42%;
  }
  section #button {
    position: relative;
    top: 50px;
  }

  #restaurant h2 {
    text-align: center;
  }
  #restaurant .part1 {
    display: flex;
  }
  #restaurant .part1 .card {
    padding: 10px;
  }
  #restaurant .part2 {
    display: flex;
  }
  #restaurant .part2 .card {
    padding: 10px;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
  }
}
/*-----------FIN TABLETTE-----------*/
/*-----------LAPTOP-----------*/
@media screen and (min-width:1025px) {
  body {
    min-width: 100%;
  }

  header #headerContent img {
    height: 40px;
  }
  header nav {
    justify-content: center;
  }
  header nav .fa-arrow-left {
    display: none;
  }

  #photoPlat .imgPlat {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  section {
    padding-bottom: 10%;
  }
  section h2 {
    text-align: center;
  }
  section #mainSection {
    display: flex;
    justify-content: space-between;
  }
  section #mainSection article {
    width: 30%;
  }
  section #mainSection article h3 {
    padding-left: 42%;
  }
  section #button {
    position: relative;
    top: 50px;
  }

  footer {
    width: 100%;
    margin: auto;
  }
  footer ul {
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=menu.css.map */
