@import"libs/mixins.scss";
@import"libs/reset.scss";
@import"libs/responsive.scss";
@include spin;
@include chargement;
@include heartColor;
* body {
    max-width: 426px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 16px;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 50px;
}

h2 {
    text-align: left;
    margin-left: 12px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 20px;
}

h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.loading {
    @include loadingStyle
}

header {
    text-align: center;
    animation: chargement 8s forwards;
    #position {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        background-color: #ededed;
        font-weight: bold;
        border-top: 3px solid grey;
        i {
            margin-right: 12px;
        }
    }
    #intro {
        background-color: #f2f2f2;
        .bold {
            font-weight: bolder;
            font-size: 37px;
            padding-top: 30px;
        }
        button {
            @include styleButton;
            padding: 15px 27px 15px 27px;
            transition: transform;
            margin-bottom: 50px;
            &:hover {
                transition: 400ms;
                background: lighten($color: #9356dc, $amount: 15%);
                box-shadow: 0 30px 30px #ababab;
            }
        }
    }
}

section {
    animation: chargement 8s forwards;
    margin-top: 30px;
    article {
        text-align: center;
        #fonctionnement {
            margin-bottom: 20px;
            ol {
                text-align: left;
                padding: 20px;
                li {
                    background-color: #f2f2f2;
                    margin: auto;
                    border-radius: 20px;
                    margin-bottom: 10px;
                    margin-top: 25px;
                    box-shadow: 0 10px 10px #ededed;
                    padding-top: 25px;
                    padding-bottom: 25px;
                    width: 90%;
                    font-weight: bold;
                    list-style-type: none;
                    counter-increment: liste;
                    cursor: pointer;
                    &:hover {
                        background-color: hsl(219, 79, 66, 0.3);
                        i {
                            color: #9356dc;
                        }
                    }
                    &:before {
                        margin: auto;
                        content: counter(liste);
                        position: relative;
                        right: 10px;
                        background: #9356dc;
                        margin-bottom: 5px;
                        border-radius: 50%;
                        padding: 5px 8px 5px 8px;
                        font-weight: bold;
                        font-size: 12px;
                        color: white;
                    }
                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
        #restaurant {
            background-color: #f2f2f2;
            padding-top: 20px;
            padding-bottom: 50px;
            .card {
                margin: auto;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 89%;
                figure {
                    padding-top: 10px;
                    img {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        object-fit: cover;
                        max-width: 100%;
                        width: 100%;
                        height: 200px;
                    }
                    figcaption {
                        background-color: white;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        padding: 15px;
                        a {
                            text-decoration: none;
                            color: black;
                        }
                        .figcaptionElement {
                            display: flex;
                            justify-content: space-between;
                            .figcaptionElement--paragraphe {
                                text-align: left;
                            }
                            .figcaptionElement--logo {
                                padding-top: 10px;
                                .vide {
                                    color: black;
                                    .remplis {
                                        opacity: 0;
                                        position: relative;
                                        right: 16px;
                                        &:hover {
                                            opacity: 1;
                                            color: #9356dc;
                                        }
                                    }
                                }
                            }
                            .figcaptionElement--paragraphe--paragrapheBold {
                                font-weight: bold;
                                ;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: #363231;
    color: whitesmoke;
    padding: 25px;
    ul {
        img {
            width: 140px;
            height: 30px;
            background-color: #363231;
        }
        li {
            margin-bottom: 10px;
            .footerContent {
                padding-left: 5px;
            }
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
}


/*-----------TABLETTE-----------*/

@media #{$medium-up} {
    body {
        min-width: 100%;
    }
    section {
        article {
            #fonctionnement {
                ol {
                    width: 70%;
                    margin: auto;
                }
            }
        }
    }
    #restaurant {
        .part1 {
            display: flex;
            .card {
                padding: 10px;
            }
        }
        .part2 {
            display: flex;
            .card {
                padding: 10px;
            }
        }
    }
    footer ul {
        display: flex;
        justify-content: space-between;
    }
}


/*-----------FIN TABLETTE-----------*/


/*-----------LAPTOP-----------*/

@media #{$medium-up2} {
    body {
        min-width: 100%;
    }
    .loading {
        left: 45%;
    }
    #fonctionnement {
        ol {
            display: flex;
            justify-content: space-between;
            li {
                width: 30%;
                text-align: center;
            }
        }
    }
    #restaurant {
        #mainRestaurant {
            display: flex;
            justify-content: space-around;
            .card {
                figure {
                    margin: auto;
                    img {
                        height: 500px;
                        width: 760px;
                        max-width: 100%;
                    }
                }
            }
        }
    }
    footer ul {
        display: flex;
        justify-content: space-between;
        li a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}